.activeWindows {
  display: flex;
  flex-direction: row;
  margin-left: 6px;
  padding: 4px 0;
}
.clock {
  color: white;
  font-size: 12px;
}
.currentActiveWindow {
  background-color: #1B50B9;
  border-left: 2px solid #14419C;
  border-top: 2px solid #14419C;
  border-right: 1px solid #14419C;
  border-bottom: 1px solid #14419C;
  border-radius: 3.5px;
  padding: 3px 10px 3px 0;
}
.inactiveWindow {
  background: linear-gradient(
    180deg,
    #4892F7 0%,
    #397DF3 15%,
    #3980F4 50%,
    #3980F4 100%
  );
  border-left: 2px solid #5899f5be;
  border-top: 1px solid #5899f5a8;
  border-right: 1px solid #2858c7be;
  border-bottom: 1px solid #2858c7be;
  border-radius: 3.5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.window:hover {
  filter: brightness(125%);
}
.window:hover .windowIcon {
  filter: brightness(80%);
}
.row {
  display: flex;
  flex-direction: row;
}
.startButton {
  background: none;
  border: 1px solid red;
  border: 0;
  display: flex;
}
.systemTray {
  align-items: center;
  background: linear-gradient(
        180deg,
        #19b4f1 0%,
        #0088e2 16%,
        #008ce9 40%,
        #0099ff 88%,
        #0099ff 93%,
        #008ae6 95%,
        #0059ff7c 96%,
        #0059ff7c 100%
    );
  border-left: 2px solid #18d6f775;
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 70px;
  position: relative;
}
.systemTrayContainer {
  border-left: 2px solid #114b787e;
  border-top: 1px solid #0e6ac50e;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  max-width: 70px;
}
.taskBar {
  background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 16%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  z-index: 10;
}
.window {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 6px;
  width: 150px;
}
.windowIcon {
  height: 17px;
  width: 17px;
}
.windowText {
  color: white;
  font-size: 12px;
}